<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <ul>
        <li th:text="${message}"></li>
        <li th:text="${users[0].name}"></li>
        <li th:text="${users[0].lastname}"></li>
        <li th:if="${users[0].email == null}" th:text="'No email provided'"></li>
    </ul>

    <table th:unless="${users.isEmpty()}">
        <thead>
            <tr>
                <th>name</th>
                <th>lastname</th>
                <th>email</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:unless="${user.email}" th:text="${'No email provided'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>