<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>

    <div th:if="${users.isEmpty()}" th:text="'There are no users'"></div>

    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>lastname</th>
                <th>email</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td>
                <td th:unless="${user.email}" th:text="${'No email provided'}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>